footer {
    display: flex;
    justify-content: space-between;
    nav {
        ul {
            list-style: none;
            li {
                display: inline;
                padding: 0.2rem;
            }
        }
    }
}