nav{
    .nav-logo{
        width: 20vw;
    }
    .nav-item{
        font-size: 1rem;
        padding: 1vw;
        margin: 0.2rem 1.5rem;
        background-color: $bg-light;
        border-radius: 5px;
        box-shadow: 5px 5px 5px $bg-shadow;
    }
    .squish{
        transition: 235ms;
        &:hover{
            transform: scale(0.75,1.25);
        }
    }
}